{{- if .IsHome -}}
  
{{- else if .IsPage -}}

  {{- if or (in .Params.contenttypes "Article") -}}
    {{ partial "schemas/schema_Article.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "BlogPosting") -}}
    {{ partial "schemas/schema_BlogPosting.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "CriticReview") -}}
    {{ partial "schemas/schema_CriticReview.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "Photograph") -}}
    {{ partial "schemas/schema_Photograph.html" . }}
  {{- end -}}

{{- end }}