{{- /*
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	BGN: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

	****************************
	** Syntax: JSON-LD        **
	** Vocab: schema.org      **
	**                        **
	** Schema: WebContent     **
	****************************

	Links:
		- https://www.w3.org/standards/semanticweb/
		- https://schema.org/WebContent

	About SemWeb:
	  - https://im.youronly.one/techmagus/

	How-To:
	  - https://github.com/

	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	END: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
		{
			"@type": "WebContent",
			"@id": "{{ .Site.BaseURL }}#webcontent",

			"hasPart": [
				{
					"@id": "{{ .Site.BaseURL }}#website"
				},
				{
					"@id": "{{ .Permalink }}#webpage"
				}{{ if .IsPage }},
				{
					"@id": "{{ .Permalink }}#article"
				}{{ end }}
			]
		}