{{- /*
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	BGN: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

	****************************
	** Syntax: JSON-LD        **
	** Vocab: schema.org      **
	**                        **
	** Schema: Organization   **
	****************************

	Special uses:
		- Site logo: https://developers.google.com/search/docs/advanced/structured-data/logo

	Links:
		- https://www.w3.org/standards/semanticweb/
		- https://schema.org/Organization

	About SemWeb:
	  - https://im.youronly.one/techmagus/

	How-To:
	  - https://github.com/

	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	END: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
{{- $org := index .Site.Data.orgs .Site.Params.semweb.org -}}
{{- $orgLogoID := "" -}}
		{
			"@type": "Organization",
			"@id": "{{ $org.id }}#organization",

			{{- /* Properties from Organization */ -}}
			{{ with $org.brand }}"brand": [ {{ range $i, $v := . }}{{ if $i }}, {{ end }}
				{ 
					"@id": "{{ .id }}#website",
					{{ with .logo }}"logo": "{{ . }}",{{ end }}
					{{ with .name }}"name": "{{ . }}",{{ end }}
					{{ with .url }}"url": "{{ . }}",{{ end }}
					"@type": ["Brand"{{ with .iswebsite }}, "WebSite"{{ end }}]
				}{{ end }}
			],{{ end }}


			{{ if $org.founders }}"founder": [ {{ range $i, $orgfounder := index $org.founders }}{{ if $i }}, {{ end }}
				{
					"@id": "{{ $orgfounder.id }}"{{ with or ($orgfounder.name) ($orgfounder.url) }},{{ end }}
					{{ with $orgfounder.name }}"name": "{{ . }}",{{ end }}
					{{ with $orgfounder.sameas }}"sameAs": [{{ range $i, $v := . }}{{ if $i }}, {{ end }}"{{ $v }}"{{ end }}],{{ end }}
					{{ with $orgfounder.url }}"url": "{{ . }}",{{ end }}
					{{ with or ($orgfounder.name) ($orgfounder.url) }}"@type": "Person"{{ end }}
				}{{ end }}
			],{{ end }}

			{{ with $org.foundingdate }}"foundingDate": "{{ . }}",{{ end }}
			"legalName": "{{ $org.legalname }}",
			{{- /* 'image' is from Thing, however we need to place it before 'logo' so we can use $orgLogoID */}}
			"image": [ {{ range $i, $v := $org.image }}{{ if $i }}, {{ end }}
				{ 
					"@id": "{{ .url }}{{ if eq .islogo true | default false }}#logo{{ $orgLogoID = .url }}{{ end }}",
					{{ with .caption }}"caption": "{{ . }}",{{ end }}
					"url": "{{ .url }}",
					"@type": "ImageObject"
				}{{ end }}
			],
			"logo": {
				"@id": "{{ $orgLogoID }}#logo"
			},
			{{ with $org.slogan }}"slogan": "{{ . }}",{{ end }}
			{{ with $org.taxid }}"taxID": "{{ . }}",{{ end }}
			{{ with $org.vatid }}"vatID": "{{ . }}",{{ end }}

			{{- /* Properties from Thing */ -}}
			{{ with $org.alternatename }}"alternateName": [{{ range $i, $v := . }}{{ if $i }}, {{ end }}"{{ $v }}"{{ end }}],{{ end }}
			"description": "{{ $org.description }}",
			"name": "{{ $org.name }}",
			{{ with $org.sameas }}"sameAs": [{{ range $i, $v := . }}{{ if $i }}, {{ end }}"{{ $v }}"{{ end }}],{{ end }}
			"url": "{{ $org.url }}"
		}