{{- /*
  ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
  BGN: SEMANTIC WEB
  ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

  ****************************
  ** Syntax: JSON-LD        **
  ** Vocab: schema.org      **
  **                        **
  ** Schema: VideoObject    **
  ****************************

  Links:
    - https://www.w3.org/standards/semanticweb/
    - https://schema.org/VideoObject

  About SemWeb:
    - https://im.youronly.one/techmagus/

  How-To:
    - https://github.com/

  ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
  END: SEMANTIC WEB
  ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/ -}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $iso8601d := "2006-01-02" -}}
{{- $iso8601y := "2006" -}}
{{- $vidID := .Get "id" -}}
{{- $platform := .Get "platform" | default "youtube" -}}
{{- $url := "" -}}
{{- if eq $platform "youtube" -}}
  {{- $url = printf "%s%s" "https://www.youtube.com/watch?v=" $vidID -}}
{{- else if eq $platform "vimeo" -}}
  {{- $url = printf "%s%s" "https://vimeo.com/" $vidID -}}
{{- end -}}
{{- $mainID := printf "%s#video" $url -}}
{{- $acquireLicensePage := or (.Get "acquirelicensepage") (.Page.Param "semweb.acquirelicensepage") (.Page.Param "acquirelicensepage") -}}
{{- $title := .Get "title" -}}
{{- $caption := .Get "caption" -}}
{{- $description := or $caption $title -}}
{{- $name := or $title $caption -}}
{{- $attribto := or (.Get "attr") (.Get "attribto") }}
{{- $publisher := or (.Get "publisher") $attribto -}}
{{- $dateCreated := "" -}}
{{- $datePublished := "" -}}
{{- with .Get "datecreated" -}}{{ $dateCreated = (time .).UTC | time.Format $iso8601d }}{{- end -}}
{{- with .Get "datepublished" -}}{{ $datePublished = (time .).UTC | time.Format $iso8601d }}{{- end -}}
{{- $hashArticle := printf "%s#article" (.Page.Permalink) -}}
{{- $hashWebPage := printf "%s#webpage" (.Page.Permalink) -}}
{{- $hashWebContent := printf "%s#webcontent" (.Page.Permalink) -}}
{{- $thumbnailURL := "" -}}
{{- if eq $platform "youtube" -}}
  {{- $thumbnailURL = printf "%s%s%s" "https://img.youtube.com/vi/" $vidID "/hqdefault.jpg" -}}
{{- else if eq $platform "vimeo" -}}
  {{- $thumbnailURL = printf "%s%s%s" "https://vumbnail.com/" $vidID ".png" -}}
{{- end -}}
{{- $hashPlace := printf "%s#place" ($.Get "contentlocurl") -}}
{{- $hashThumbnail := "" -}}
{{- if or (eq $platform "youtube") (eq $platform "vimeo") -}}
  {{- $hashThumbnail = printf "%s%s" $thumbnailURL "#thumbnail" -}}
{{- end }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "@id": {{ $mainID }},

  {{- /* Properties from VideoObject */}}
  {{- /* note: Has to be an array but it is not possible using shortcodes
  "actor": "",
  */}}
  {{- with $caption }}"caption": {{ . | plainify }},{{ end }}
  {{- with (.Get "director") }}"director": {{ . }},{{ end }}
  {{- with (.Get "musicby") }}"musicBy": {{ . }},{{ end }}
  {{ if or (eq $platform "youtube") (eq $platform "vimeo") }}
  "thumbnail": {
    "@id": {{ $hashThumbnail }},
    "contentUrl": {{ $thumbnailURL }},
    "url": {{ $thumbnailURL }},
    "@type": "ImageObject"
  },
  {{ end }}
  {{- with (.Get "objframesize") }}"videoFrameSize": {{ . }},{{ end }}
  {{- with (.Get "objquality") }}"videoQuality": {{ . }},{{ end }}

  {{- /* Properties from MediaObject */}}
  {{- with (.Get "contentloc") }}"contentLocation": {
    {{- with ($.Get "contentlocurl") }}"@id": {{ $hashPlace }},{{ end }}
    "address": {{ . }},
    "name": {{ . }},
    "@type": "Place"
  },{{ end }}
  {{- with (.Get "contentreferencetime") }}"contentReferenceTime": {{ . }},{{ end }}
  "contentUrl": {{ $url }},
  {{- with (.Get "objheight") }}"height": {{ . }},{{ end }}
  {{- with or $datePublished $dateCreated }}"uploadDate": {{ . | safeHTML }},{{ end }}
  {{- with (.Get "objwidth") }}"width": {{ . }},{{ end }}

  {{- /* Properties from CreativeWork */}}
  "about": {{ $description }},
  {{- with $acquireLicensePage }}"acquireLicensePage": {{ . }},{{ end }}
  {{- /* ToDo: @id
    {{- with $attribto }}"copyrightHolder": [
      {
        "@id": "",
        "name": {{ . }},
        "@type": "{{ with ($.Get "copyrightholderisorg") }}Organization{{ else }}Person{{ end }}"
      }
    ],{{ end }}
  */}}
  {{- with (.Get "copyrightnotice") }}"copyrightNotice": {{ . }},{{ end }}
  {{- with or $dateCreated $datePublished }}"copyrightYear": {{ . | time.Format $iso8601y | safeHTML }},{{ end }}
  "creativeWorkStatus": "Published",
  {{- /* note: similar to copyrightHolder
    "creator": "{{ $attribto }}",
  */}}
  {{- with (.Get "credittext") }}"creditText": {{ . }},{{ end }}
  {{- with or $dateCreated $datePublished }}"dateCreated": {{ . | safeHTML }},{{ end }}
  {{- with or $datePublished $dateCreated }}"datePublished": {{ . | safeHTML }},{{ end }}
  {{- with (.Get "inlanguage") }}"inLanguage": {{ . }},{{ end }}
  "isPartOf": [
    {
      "@id": {{ $hashArticle }}
    },
    {
      "@id": {{ $hashWebPage }}
    },
    {
      "@id": {{ $hashWebContent }}
    }
  ],
  {{- with (.Get "licenseurl") }}"license": {{ . }},{{ end }}
  {{- /* note: similar to copyrightHolder
    "publisher": {{ $publisher }},
  */}}
  {{ if or (eq $platform "youtube") (eq $platform "vimeo") }}"thumbnailUrl": {{ $thumbnailURL }},{{ end }}
  {{- with $acquireLicensePage }}"usageInfo": {{ . }},{{ end }}

  {{- /* Properties from Thing */}}
  {{- with $description }}"description": {{ . | plainify }},{{ end }}
  "name": {{ $name | plainify }},
  "url": {{ $url }}
}
</script>
