{{- /*
  ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
  BGN: SEMANTIC WEB
  ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

  ****************************
  ** Syntax: JSON-LD        **
  ** Vocab: schema.org      **
  **                        **
  ** Schema: WebSite        **
  ****************************

  Links:
    - https://www.w3.org/standards/semanticweb/
    - https://schema.org/WebSite

  About SemWeb:
    - https://im.youronly.one/techmagus/

  How-To:
    - https://github.com/

  ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
  END: SEMANTIC WEB
  ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $iso8601y := "2006" -}}
{{- $permalink := .Permalink -}}
{{- $acquireLicensePage := or (.Site.Params.semweb.acquirelicensepage) (.Site.Params.acquirelicensepage) -}}
{{- $dateofcreation := "" -}}
{{- $datefirstpublished := "" -}}
{{- if .Site.Params.semweb.datecreated -}}
  {{ $dateofcreation = time .Site.Params.semweb.datecreated }}
{{- else if .Site.Params.datecreated -}}
  {{ $dateofcreation = time .Site.Params.datecreated }}
{{- end -}}
{{- if .Site.Params.semweb.datefirstpublished -}}
  {{ $datefirstpublished = time .Site.Params.semweb.datefirstpublished }}
{{- else if .Site.Params.datefirstpublished -}}
  {{ $datefirstpublished = time .Site.Params.datefirstpublished }}
{{- end -}}
{{- $dateCreated := (or $dateofcreation .Date .PublishDate .Lastmod).UTC | time.Format $iso8601 -}}
{{- $datePublished := (or $datefirstpublished .PublishDate .Date .Lastmod $dateofcreation).UTC | time.Format $iso8601 -}}
{{- $dateModified := (or .Lastmod .PublishDate .Date $datefirstpublished $dateofcreation).UTC | time.Format $iso8601 -}}
{{- $dateModifiedYear := $dateModified | time.Format $iso8601y -}}
{{- $dateExpiry := "" -}}
{{- with .ExpiryDate -}}{{ $dateExpiry = .UTC | time.Format $iso8601 }}{{- end -}}
{{- $datapersons := .Site.Data.persons -}}
{{- $semwebpersons := .Site.Params.semweb.persons }}
    {
      "@type": "WebSite",
      "@id": "{{ .Site.BaseURL }}#website",

      {{- /* Properties from WebSite */}}
      {{ with .Site.Params.semweb.issn }}"issn": "{{ . }}",{{ end }}

      {{- /* Properties from CreativeWork */ -}}
      {{ with $acquireLicensePage }}"acquireLicensePage": "{{ . }}",{{ end }}
      {{ if $semwebpersons }}"copyrightHolder": [ {{ range $i, $semwebperson := index $semwebpersons }}{{ $dataperson := index $datapersons $semwebperson.person }}{{ if $i }}, {{ end }}
        {{- /* note: else if [[semweb.persons]] is set in config file, use it to display a list of persons with fallback to /data/persons/ if present */}}
        {
          "@id": "{{ or ($semwebperson.id) ($dataperson.id) }}"{{ with or ($semwebperson.name) ($semwebperson.url) }},{{ end }}
          {{ with $semwebperson.name }}"name": "{{ . }}",{{ end }}
          {{ with $semwebperson.url }}"url": "{{ . }}",{{ end }}
          {{ with or ($semwebperson.name) ($semwebperson.url) }}"@type": "Person"{{ end }}
        }{{ end }}
      ],{{ else if .Param "author" }}"copyrightHolder": [
        {{- /* note: else if default Hugo 'author' param is used in frontmatter or config, display generic */}}
        {
          "name": "{{ .Param "author" }}"
        }
      ],{{ end }}
      {{ with .Site.Params.semweb.copyrightnotice }}"copyrightNotice": "{{ . }}",{{ end }}
      "copyrightYear": "{{ $dateModifiedYear | safeHTML }}",
      "creativeWorkStatus": "Published",
      {{ if $semwebpersons }}"creator": [ {{ range $i, $semwebperson := index $semwebpersons }}{{ $dataperson := index $datapersons $semwebperson.person }}{{ if $i }}, {{ end }}
        {{- /* note: else if [[semweb.persons]] is set in config file, use it to display a list of persons with fallback to /data/persons/ if present */}}
        {
          "@id": "{{ or ($semwebperson.id) ($dataperson.id) }}"{{ with or ($semwebperson.name) ($semwebperson.url) }},{{ end }}
          {{ with $semwebperson.name }}"name": "{{ . }}",{{ end }}
          {{ with $semwebperson.url }}"url": "{{ . }}",{{ end }}
          {{ with or ($semwebperson.name) ($semwebperson.url) }}"@type": "Person"{{ end }}
        }{{ end }}
      ],{{ else if .Param "author" }}"creator": [
        {{- /* note: else if default Hugo 'author' param is used in frontmatter or config, display generic */}}
        {
          "name": "{{ .Param "author" }}"
        }
      ],{{ end }}
      {{ with .Site.Params.semweb.credittext }}"creditText": "{{ . }}",{{ end }}
      "dateCreated": "{{ or $dateCreated $datePublished | safeHTML }}",
      "dateModified": "{{ $dateModified | safeHTML }}",
      "datePublished": "{{ $datePublished | safeHTML }}",
      {{ with $dateExpiry }}"expires": "{{ . | safeHTML }}",{{ end }}
      "hasPart": {
        "@id": "{{ $permalink }}#webpage"
      },
      "inLanguage": "{{ or (.Site.LanguageCode) (.Site.Language.Lang) }}",
      "isPartOf": {
        "@id": "{{ $permalink }}#webcontent"
      },
      {{ with .Site.Params.keywords }}"keywords": [ {{ delimit (apply (apply . "chomp" ".") "jsonify" ".") ", " }} ],{{ end }}
      {{ with or (.Site.Params.semweb.license) (.Site.Params.license) }}"license": "{{ . }}",{{ end }}
      {{ with .Site.Params.semweb.publisher }}"publisher": {
        "@id": "{{ . }}#organization"
      },{{ end }}
      {{ with $acquireLicensePage }}"usageInfo": "{{ . }}",{{ end }}

      {{- /* Properties from Thing */ -}}
      "description": "{{ .Site.Params.description }}",
      {{ with .Site.Params.images }}"image": [ {{ range $i, $image := . }}{{ if $i }}, {{ end }}
        {
          "@id": "{{ . }}#image",
          "contentUrl": "{{ . }}",
          "url": "{{ . }}",
          "@type": "ImageObject"
        }{{ end }}
      ],{{ end }}
      "name": "{{ .Site.Title }}",
      {{ with .Site.Params.semweb.sameas }}"sameAs": [ {{ delimit (apply (apply . "chomp" ".") "jsonify" ".") ", " }} ],{{ end }}
      "url": "{{ .Site.BaseURL }}"
    }