{{- if .IsHome -}}
  {{ partial "schemas/schema_WebSite.html" . }}
{{- else if .IsPage -}}

  {{- if or (in .Params.contenttypes "Article") -}}
    {{ partial "schemas/schema_Article.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "BlogPosting") -}}
    {{ partial "schemas/schema_BlogPosting.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "BreadcrumbList") -}}
    {{ partial "schemas/schema_BreadcrumbList.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "CriticReview") -}}
    {{ partial "schemas/schema_CriticReview.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "JobPosting") -}}
    {{ partial "schemas/schema_JobPosting.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "LocalBusiness") -}}
    {{ partial "schemas/schema_LocalBusiness.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "Person") -}}
    {{ partial "schemas/schema_Person.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "QuestionAnswers") -}}
    {{ partial "schemas/schema_Question_Answers.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "Service") -}}
    {{ partial "schemas/schema_Service.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "ServiceArea") -}}
    {{ partial "schemas/schema_ServiceArea.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "SiteNavigationElement") -}}
    {{ partial "schemas/schema_SiteNavigationElement.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "VideoObject") -}}
    {{ partial "schemas/schema_VideoObject.html" . }}
  {{- end -}}

  {{- if or (in .Params.contenttypes "WebSite") -}}
    {{ partial "schemas/schema_WebSite.html" . }}
  {{- end -}}

{{- end }}