{{- /*
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	BGN: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

	****************************
	** Syntax: JSON-LD        **
	** Vocab: schema.org      **
	**                        **
	** Schema: Person         **
	****************************

	Links:
		- https://www.w3.org/standards/semanticweb/
		- https://schema.org/Person

	About SemWeb:
	  - https://im.youronly.one/techmagus/

	How-To:
	  - https://github.com/

	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	END: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
{{- $person := index .Site.Data.persons (.Param "semweb.person") }}
		{
			"@type": "Person",
			"@id": "{{ $person.id }}",

			{{- /* Properties from Person */}}
			{{ with $person.additionalname }}"additionalName": [{{ range $i, $v := . }}{{ if $i }}, {{ end }}"{{ $v }}"{{ end }}],{{ end }}
			{{ with $person.affiliation }}"affiliation": [ {{ range $i, $v := . }}{{ if $i }}, {{ end }}
				{ 
					"@id": "{{ .id }}#organization"{{ with or (.name) (.url) }},{{ end }}
					{{ with .name }}"name": "{{ . }}",{{ end }}
					{{ with .url }}"url": "{{ . }}",{{ end }}
					{{ with or (.name) (.url) }}"@type": "Organization"{{ end }}
				}{{ end }}
			],{{ end }}
			{{ with $person.brand }}"brand": [ {{ range $i, $v := . }}{{ if $i }}, {{ end }}
				{ 
					"@id": "{{ .id }}#website",
					{{ with .logo }}"logo": "{{ . }}",{{ end }}
					{{ with .name }}"name": "{{ . }}",{{ end }}
					{{ with .url }}"url": "{{ . }}",{{ end }}
					"@type": ["Brand"{{ with .iswebsite }}, "WebSite"{{ end }}]
				}{{ end }}
			],{{ end }}
			{{ with $person.spouse }}"spouse": {
				"@id": "{{ .id }}",
				{{ with .name }}"name": "{{ . }}",{{ end }}
				{{ with .url }}"url": "{{ . }}"{{ end }}
			},{{ end }}
			{{ with $person.taxid }}"taxID": "{{ . }}",{{ end }}
			{{ with $person.vatid }}"vatID": "{{ . }}",{{ end }}
			{{ with $person.worksfor }}"worksFor": [ {{ range $i, $v := . }}{{ if $i }}, {{ end }}
				{ 
					"@id": "{{ .id }}#organization"{{ with or (.name) (.url) }},{{ end }}
					{{ with .name }}"name": "{{ . }}",{{ end }}
					{{ with .url }}"url": "{{ . }}",{{ end }}
					{{ with or (.name) (.url) }}"@type": "Organization"{{ end }}
				}{{ end }}
			],{{ end }}

			{{- /* Properties from Thing */}}
			"description": "{{ $person.description }}",
			"image": [ {{ range $i, $v := $person.image }}{{ if $i }}, {{ end }}
				{
					"@id": "{{ .url }}{{ if eq .isphoto true | default false }}#photo{{ end }}",
					{{ with .caption }}"caption": "{{ . }}",{{ end }}
					"url": "{{ .url }}",
					"@type": "ImageObject"
				}{{ end }}
			],
			{{ with $person.mainentityofpage }}"mainEntityOfPage": "{{ . }}",{{ end }}
			"name": "{{ $person.name }}",
			{{ with $person.sameas }}"sameAs": [{{ range $i, $v := . }}{{ if $i }}, {{ end }}"{{ $v }}"{{ end }}],{{ end }}
			"url": "{{ $person.url }}"
		}