<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Movie",
    "name": "CHANGE_THIS",
    "description": "CHANGE_THIS",
    "productionCompany": "CHANGE_THIS",
    "countryOfOrigin": "CHANGE_THIS",
    "dateCreated": "YYYY",
    "duration": "PT_CHANGE_THIS",
    "image": [
      "foofighters-1.jpg",
      "foofighters-2.jpg",
      "foofighters-3.jpg"
    ],
    "trailer": {
      "@type": "VideoObject",
      "name": "CHANGE_THIS",
      "description": "CHANGE_THIS",
      "uploadDate": "YYYY-MM-DD",
      "thumbnailUrl": "https://img.youtube.com/vi/CHANGE_THIS/hqdefault.jpg",
      "contentUrl": "https://www.youtube.com/watch?v=CHANGE_THIS",
      "embedUrl": "https://www.youtube-nocookie.com/embed/CHANGE_THIS",
      "duration": "PT_CHANGE_THIS"
    },
    "review": [
      {
        "@type": "CriticReview",
        "author": "ᜌᜓᜃᜒ (Yuki ・ 雪亮)",
        "datePublished": "YYYY-MM-DD",
        "itemReviewed": "CHANGE_THIS",
        "reviewBody": "CHANGE_THIS",
        "reviewRating": {
          "@type": "Rating",
          "bestRating": "10",
          "worstRating": "1",
          "ratingValue": "CHANGE_THIS"
        }
      }
    ]
  }
</script>
