{{- /*
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	BGN: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

	****************************
	** Syntax: JSON-LD        **
	** Vocab: schema.org      **
	**                        **
	** Schema: WebPage        **
	****************************

	Links:
		- https://www.w3.org/standards/semanticweb/
		- https://schema.org/WebPage

	About SemWeb:
	  - https://im.youronly.one/techmagus/

	How-To:
	  - https://github.com/

	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	END: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $iso8601d := "2006-01-02" -}}
{{- $datePublished := or (.PublishDate) (.Date) -}}
{{- $dateFirstPublished := dateFormat $iso8601d $datePublished | safeHTML -}}
{{- $dateModified := .Lastmod.Format $iso8601 | safeHTML -}}
{{- $dateModifiedYear := .Lastmod.Format "2006" | safeHTML -}}
{{- $person := .Site.Data.persons }}
		{
			"@type": "WebPage",
			"@id": "{{ .Permalink }}#webpage",

			{{- /* Properties from WebPage */}}
			{{- /* {{ with $breadcrumb }}"breadcrumb": "{{ . }}",{{ end }} */}}
			"mainContentOfPage": "{{ .Permalink }}",
			{{ with and (.IsPage) (.Params.images) }}"primaryImageOfPage": {
				"url": "{{ range first 1 .}}{{ . | absURL }}{{ end }}",
				"@type": "ImageObject"
			},{{ end }}
			{{- /* {{ with $relatedLink }}"relatedLink": "{{ . }}",{{ end }} */}}

			{{- /* Properties from CreativeWork */}}
			{{ if or (.Param "author") ($person) }}"author": [
				{ {{ range $i, $v := index (or ($.Params.author) ($person)) }}{{ if $i -}}, { {{ end }}
					"@id": "{{ .id }}",
					{{ with .name }}"name": "{{ . }}",{{ end }}
					{{ with .url }}"url": "{{ . }}",{{ end }}
					"@type": "Person"
				}{{ end }}
			],{{ end }}
			{{ if .IsPage }}"hasPart": {
				"@id": "{{ .Permalink }}#article",
				"@type": "Article"
			},{{ end }}
			"headline": "{{ .Title }}",
			"image": [
				{ {{ range $i, $v := .Params.images }}{{ if $i -}}, { {{ end }}
					"url": "{{ . }}",
					"@type": "ImageObject"
				}{{ end }}
			],
			"inLanguage": "{{ .Language.Params.languagecodehtml }}",
			"isPartOf": {
				"@id": "{{ .Site.BaseURL }}#website",
				"@type": "WebSite"
			},
			{{ if .IsPage }}"mainEntity": {
				"@id": "{{ .Permalink }}#article",
				"@type": "Article"
			},{{ end }}

			{{- /* Properties from Thing */}}
			"description": "{{ .Site.Params.description }}",
			"name": "{{ .Title }}",
			"url": "{{ .Permalink }}"
		}