{{- /*
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	BGN: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

	****************************
	** Syntax: JSON-LD        **
	** Vocab: schema.org      **
	**                        **
	** Schema: VideoObject    **
	****************************

	Links:
		- https://www.w3.org/standards/semanticweb/
		- https://schema.org/VideoObject

	About SemWeb:
	  - https://im.youronly.one/techmagus/

	How-To:
	  - https://github.com/

	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	END: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $iso8601d := "2006-01-02" -}}
{{- $vidID := .Get "id" -}}
{{- $acquireLicensePage := .Get "acquirelicensepage" -}}
{{- $thumbnailURL := .Get "thumbnailurl" -}}
{{- $title := .Get "title" -}}
{{- $url := .Get "src" -}}
{{- $caption := .Get "caption" -}}
{{- $about := or $caption $title -}}
{{- $description := or $caption -}}
{{- $name := or $title $caption -}}
{{- $attribto := or (.Get "attr") (.Get "attribto") }}
{{- $publisher := or (.Get "publisher") $attribto -}}
{{- $copyrightYear := "" -}}
{{- $dateFirstPublished := "" -}}
{{- $datePublished := "" -}}
{{- with (.Get "datecreated") }}
  {{- $datePublished = . -}}
  {{- $dateFirstPublished = dateFormat $iso8601d $datePublished | safeHTML -}}
  {{- $copyrightYear = dateFormat "2006" $datePublished | safeHTML -}}
{{ end -}}
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "VideoObject",
	"@id": "https://www.youtube.com/watch?v={{ $vidID }}",

	{{- /* Properties from VideoObject */}}
	{{- /* note: Has to be an array but it is not possible using shortcodes
	"actor": "",
	*/}}
	{{ with $caption }}"caption": "{{ . | plainify }}",{{ end }}
	{{ with (.Get "director") }}"director": "{{ . }}",{{ end }}
	{{ with (.Get "embeddedtextcaption") }}"embeddedTextCaption": "{{ . }}",{{ end }}
	{{ with (.Get "musicby") }}"musicBy": "{{ . }}",{{ end }}
	{{ with $thumbnailURL }}"thumbnail": {
		"@id": "{{ . }}#thumbnail",
		"contentUrl": "{{ . }}",
		"url": "{{ . }}",
		"@type": "ImageObject"
	},{{ end }}
	{{ with (.Get "transcript") }}"transcript": "{{ . | plainify }}",{{ end }}
	{{ with (.Get "vidframesize") }}"videoFrameSize": "{{ . }}",{{ end }}
	{{ with (.Get "vidquality") }}"videoQuality": "{{ . }}",{{ end }}

	{{- /* Properties from MediaObject */}}
	"associatedArticle": "{{ .Page.Permalink }}#article",
	{{ with (.Get "contentloc") }}"contentLocation": {
		{{ with ($.Get "contentlocurl") }}"@id": "{{ . }}#place",{{ end }}
		"address": "{{ . }}",
		"name": {{ . }},
		"@type": "Place"
	},{{ end }}
	{{ with (.Get "contentreferencetime") }}"contentReferenceTime": "{{ . }}",{{ end }}
	"contentUrl": "https://www.youtube-nocookie.com/embed/{{ $vidID }}",
	{{ with (.Get "vidheight") }}"height": "{{ . }}",{{ end }}
	{{ with (.Get "vidwidth") }}"width": "{{ . }}",{{ end }}

	{{- /* Properties from CreativeWork */}}
	"about": "{{ $about }}",
	{{ with $acquireLicensePage }}"acquireLicensePage": "{{ . }}",{{ end }}
	{{- /* ToDo: @id
	{{ with $attribto }}"copyrightHolder": [
		{
			"@id": "",
			"name": "{{ . }}",
			"@type": "{{ with ($.Get "copyrightholderisorg") }}Organization{{ else }}Person{{ end }}"
		}
	],{{ end }}
	*/}}
	{{ with (.Get "copyrightnotice") }}"copyrightNotice": "{{ . }}",{{ end }}
	{{ with $copyrightYear }}"copyrightYear": "{{ . }}",{{ end }}
	"creativeWorkStatus": "Published",
	{{- /* note: similar to copyrightHolder
	"creator": "{{ $attribto }}",
	*/}}
	{{ with (.Get "credittext") }}"creditText": "{{ . }}",{{ end }}
	{{ with $dateFirstPublished }}"dateCreated": "{{ . }}",{{ end }}
	{{ with $datePublished }}"datePublished": "{{ . }}",{{ end }}
	{{ with (.Get "inlanguage") }}"inLanguage": "{{ . }}",{{ end }}
	{{- /* Disabled: not possible with shortcodes
	{{ with (.Get "keywords") }}"keywords": [ {{ range $i, $keyword := . }}{{ if $i }}, {{ end }}"{{ $keyword }}"{{ end }}],{{ end }}
	*/}}
	"license": "{{ .Get "licenseurl" }}",
	{{- /* note: similar to copyrightHolder
	"publisher": "{{ $publisher }}",
	*/}}
	{{- /* note: similar to copyrightHolder
	{{ with (.Get "sourceorganization") }}"sourceOrganization": "{{ . }}",{{ end }}
	*/}}
	{{ with $thumbnailURL }}"thumbnailUrl": "{{ . }}",{{ end }}
	{{ with $acquireLicensePage }}"usageInfo": "{{ . }}",{{ end }}

	{{- /* Properties from Thing */}}
	{{ with $description }}"description": "{{ . | plainify }}",{{ end }}
	"name": "{{ $name | plainify }}",
	"url": "https://www.youtube.com/watch?v={{ $vidID }}"
}
</script>
