{{- /*
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	BGN: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

	****************************
	** Syntax: JSON-LD        **
	** Vocab: schema.org      **
	**                        **
	** Schema: Article        **
	****************************

	Links:
		- https://www.w3.org/standards/semanticweb/
		- https://schema.org/Article

	About SemWeb:
		- https://im.youronly.one/techmagus/

	How-To:
		- https://github.com/

	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	END: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $iso8601d := "2006-01-02" -}}
{{- $datePublished := or (.PublishDate) (.Date) -}}
{{- $dateFirstPublished := dateFormat $iso8601d $datePublished | safeHTML -}}
{{- $dateModified := .Lastmod.Format $iso8601 | safeHTML -}}
{{- $dateModifiedYear := .Lastmod.Format "2006" | safeHTML -}}
{{- $dateExpiry := "" -}}
{{- if not .ExpiryDate.IsZero }}{{ $dateExpiry = .ExpiryDate.Format $iso8601d | safeHTML }}{{ end -}}
{{- $datapersons := .Site.Data.persons -}}
{{- $semwebpersons := .Site.Params.semweb.persons -}}
{{- $frontmatterpersons := .Params.authors }}
		{
			"@type": ["Article"{{ with $.Param "semweb.isblog" }}, "BlogPosting"{{ end }}],
			"@id": "{{ .Permalink }}#article",

			{{- /* Properties from Article */}}
			{{- /* note: Disabled since Google is ignoring it anyway
			"articleBody": "{{ .Plain }}",
			*/}}
			"articleSection": [{{ range $i, $v := .Params.categories }}{{ if $i }}, {{ end }}"{{ $v }}"{{ end }}],
			"wordCount": "{{ .Plain | countwords }}",

			{{- /* Properties from CreativeWork */}}
			{{- /* "acquireLicensePage": "", */}}
			{{ if $frontmatterpersons }}"author": [ {{ range $i, $frontmatterperson := index $frontmatterpersons }}{{ $dataperson := index $datapersons $frontmatterperson.person }}{{ if $i }}, {{ end }}
				{{- /* note: if [[authors]] is set in frontmatter, use this to display a list of persons with fallback to /data/persons/ if present */}}
				{
					"@id": "{{ or ($frontmatterperson.id) ($dataperson.id) }}"{{ with or ($frontmatterperson.name) ($frontmatterperson.url) }},{{ end }}
					{{ with or $frontmatterperson.name }}"name": "{{ . }}",{{ end }}
					{{ with or $frontmatterperson.url }}"url": "{{ . }}",{{ end }}
					{{ with or ($frontmatterperson.name) ($frontmatterperson.url) }}"@type": "Person"{{ end }}
				}{{ end }}
			],{{ else if $semwebpersons }}"author": [ {{ range $i, $semwebperson := index $semwebpersons }}{{ $dataperson := index $datapersons $semwebperson.person }}{{ if $i }}, {{ end }}
				{{- /* note: else if [[semweb.persons]] is set in config file, use it to display a list of persons with fallback to /data/persons/ if present */}}
				{
					"@id": "{{ or ($semwebperson.id) ($dataperson.id) }}"{{ with or ($semwebperson.name) ($semwebperson.url) }},{{ end }}
					{{ with or $semwebperson.name }}"name": "{{ . }}",{{ end }}
					{{ with or $semwebperson.url }}"url": "{{ . }}",{{ end }}
					{{ with or ($semwebperson.name) ($semwebperson.url) }}"@type": "Person"{{ end }}
				}{{ end }}
			],{{ else if .Param "author" }}"author": [
				{{- /* note: else if default Hugo 'author' param is used in frontmatter or config, display generic */}}
				{
					"name": "{{ .Param "author" }}"
				}
			],{{ end }}
			{{- /* "citation": [
				{
					"@id": "",
					"url": "",
					"@type": "CreativeWork"
				}
			], */}}
			{{- /* "contributor": [
				{
					"@id": "",
					"url": "",
					"@atype": "Person"
				}
			], */}}
			{{ if $frontmatterpersons }}"copyrightHolder": [ {{ range $i, $frontmatterperson := index $frontmatterpersons }}{{ $dataperson := index $datapersons $frontmatterperson.person }}{{ if $i }}, {{ end }}
				{{- /* note: if [[authors]] is set in frontmatter, use this to display a list of persons with fallback to /data/persons/ if present */}}
				{
					"@id": "{{ or ($frontmatterperson.id) ($dataperson.id) }}"{{ with or ($frontmatterperson.name) ($frontmatterperson.url) }},{{ end }}
					{{ with or $frontmatterperson.name }}"name": "{{ . }}",{{ end }}
					{{ with or $frontmatterperson.url }}"url": "{{ . }}",{{ end }}
					{{ with or ($frontmatterperson.name) ($frontmatterperson.url) }}"@type": "Person"{{ end }}
				}{{ end }}
			],{{ else if $semwebpersons }}"copyrightHolder": [ {{ range $i, $semwebperson := index $semwebpersons }}{{ $dataperson := index $datapersons $semwebperson.person }}{{ if $i }}, {{ end }}
				{{- /* note: else if [[semweb.persons]] is set in config file, use it to display a list of persons with fallback to /data/persons/ if present */}}
				{
					"@id": "{{ or ($semwebperson.id) ($dataperson.id) }}"{{ with or ($semwebperson.name) ($semwebperson.url) }},{{ end }}
					{{ with or $semwebperson.name }}"name": "{{ . }}",{{ end }}
					{{ with or $semwebperson.url }}"url": "{{ . }}",{{ end }}
					{{ with or ($semwebperson.name) ($semwebperson.url) }}"@type": "Person"{{ end }}
				}{{ end }}
			],{{ else if .Param "author" }}"copyrightHolder": [
				{{- /* note: else if default Hugo 'author' param is used in frontmatter or config, display generic */}}
				{
					"name": "{{ .Param "author" }}"
				}
			],{{ end }}
			{{- /* "copyrightNotice": "", */}}
			"copyrightYear": "{{ $dateModifiedYear }}",
			"creativeWorkStatus": "Published",
			{{ if $frontmatterpersons }}"creator": [ {{ range $i, $frontmatterperson := index $frontmatterpersons }}{{ $dataperson := index $datapersons $frontmatterperson.person }}{{ if $i }}, {{ end }}
				{{- /* note: if [[authors]] is set in frontmatter, use this to display a list of persons with fallback to /data/persons/ if present */}}
				{
					"@id": "{{ or ($frontmatterperson.id) ($dataperson.id) }}"{{ with or ($frontmatterperson.name) ($frontmatterperson.url) }},{{ end }}
					{{ with or $frontmatterperson.name }}"name": "{{ . }}",{{ end }}
					{{ with or $frontmatterperson.url }}"url": "{{ . }}",{{ end }}
					{{ with or ($frontmatterperson.name) ($frontmatterperson.url) }}"@type": "Person"{{ end }}
				}{{ end }}
			],{{ else if $semwebpersons }}"creator": [ {{ range $i, $semwebperson := index $semwebpersons }}{{ $dataperson := index $datapersons $semwebperson.person }}{{ if $i }}, {{ end }}
				{{- /* note: else if [[semweb.persons]] is set in config file, use it to display a list of persons with fallback to /data/persons/ if present */}}
				{
					"@id": "{{ or ($semwebperson.id) ($dataperson.id) }}"{{ with or ($semwebperson.name) ($semwebperson.url) }},{{ end }}
					{{ with or $semwebperson.name }}"name": "{{ . }}",{{ end }}
					{{ with or $semwebperson.url }}"url": "{{ . }}",{{ end }}
					{{ with or ($semwebperson.name) ($semwebperson.url) }}"@type": "Person"{{ end }}
				}{{ end }}
			],{{ else if .Param "author" }}"creator": [
				{{- /* note: else if default Hugo 'author' param is used in frontmatter or config, display generic */}}
				{
					"name": "{{ .Param "author" }}"
				}
			],{{ end }}
			{{- /* "creditText": "", */}}
			"dateCreated": "{{ $dateFirstPublished }}",
			"dateModified": "{{ $dateModified }}",
			"datePublished": "{{ $dateFirstPublished }}",
			{{- /* "discussionUrl": "", */}}
			{{ with $dateExpiry }}"expires": "{{ . }}",{{ end }}
			{{- /* "hasPart": "", */}}
			"headline": "{{ .LinkTitle }}",
			"inLanguage": "{{ or (.Site.LanguageCode) (.Site.Language.Lang) }}",
			{{- /* "isBasedOn": "", */}}
			"isPartOf": [
				{
					"@id": "{{ .Permalink }}#webpage"
				},
				{
					"@id": "{{ .Permalink }}#webcontent"
				}
			],
			{{ with .Keywords }}"keywords": [{{ range $i, $e := . }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }}],{{ end }}
			{{ with or (.Param "license") (.Site.Params.semweb.license) }}"license": "{{ . }}",{{ end }}
			{{ with .Site.Params.semweb.publisher }}"publisher": {
				"@id": "{{ . }}#organization"
			},{{ end }}
			{{- /* "sponsor": "", */}}
			{{- /* "thumbnailUrl": "", */}}
			{{- /* "translationOfWork": "", */}}
			{{- /* "translator": "", */}}
			{{- /* "usageInfo": "", */}}
			{{- /* "workTranslation": "", */}}

			{{- /* Properties from CreativeWork */}}
			{{- /* "alternateName": "", */}}
			{{ with or (.Description) (.Summary) }}"description": "{{ . | plainify }}",{{ end }}
			"image": [ {{ range $i, $v := .Params.images }}{{ if $i }}, {{ end }}
				{ 
					"url": "{{ . }}",
					"@type": "ImageObject"
				}{{ end }}
			],
			"mainEntityOfPage": {
				"@id": "{{ .Permalink }}#webpage"
			},
			"name": "{{ .LinkTitle }}",
			{{- /* "sameAs": "", */}}
			{{- /* "subjectOf": "", */}}
			"url": "{{ .Permalink }}"
		}