{{- /*
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	BGN: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

	****************************
	** Syntax: JSON-LD        **
	** Vocab: schema.org      **
	**                        **
	** Schema: WebSite        **
	****************************

	Links:
		- https://www.w3.org/standards/semanticweb/
		- https://schema.org/WebSite

	About SemWeb:
	  - https://im.youronly.one/techmagus/

	How-To:
	  - https://github.com/

	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	END: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $iso8601d := "2006-01-02" -}}
{{- $dateFirstPublished := .Site.Params.semweb.dateFirstPublished -}}
{{- $dateFirstPublished = dateFormat $iso8601d $dateFirstPublished | safeHTML -}}
{{- $dateModified := .Lastmod.Format $iso8601 | safeHTML }}
		{
			"@type": "WebSite",
			"@id": "{{ .Site.BaseURL }}#website",

			{{- /* Properties from WebSite */}}
			{{ with .Site.Params.semweb.issn }}"issn": "{{ . }}",{{ end }}

			{{- /* Properties from CreativeWork */ -}}
			{{ with .Site.Params.semweb.acquireLicensePage }}"acquireLicensePage": "{{ . }}",{{ end }}
			{{ with .Site.Params.semweb.creator }}"creator": {
				"@id": "{{ . }}"
			},{{ end }}
			{{ with .Site.Params.semweb.copyrightHolder }}"copyrightHolder": {
				"@id": "{{ . }}"
			},{{ end }}
			{{ with .Site.Params.semweb.copyrightNotice }}"copyrightNotice": "{{ . }}",{{ end }}
			{{ with .Site.Params.semweb.copyrightYear }}"copyrightYear": "{{ . }}",{{ end }}
			"creativeWorkStatus": "Published",
			{{ with .Site.Params.semweb.creditText }}"creditText": "{{ . }}",{{ end }}
			{{ with $dateFirstPublished }}"dateCreated": "{{ . }}",{{ end }}
			"dateModified": "{{ $dateModified }}",
			{{ with $dateFirstPublished }}"datePublished": "{{ . }}",{{ end }}
			"inLanguage": "{{ .Language.Params.languagecodehtml }}",
			{{ with .Site.Params.keywords }}"keywords": [{{ range $i, $e := . }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }}],{{ end }}
			{{ with .Site.Params.semweb.license }}"license": "{{ . }}",{{ end }}
			{{ with .Site.Params.semweb.publisher }}"publisher": {
				"@id": "{{ . }}#organization"
			},{{ end }}
			{{- /* {{ with .Site.Params.semweb.thumbnailUrl }}"thumbnailUrl": "{{ . }}",{{ end }} */}}
			{{ with .Site.Params.semweb.acquireLicensePage }}"usageInfo": "{{ . }}",{{ end }}

			{{- /* Properties from Thing */ -}}
			"description": "{{ .Site.Params.description }}",
			"name": "{{ .Site.Title }}",
			{{ with .Site.Params.semweb.sameAs }}"sameAs": [{{ range $i, $v := . }}{{ if $i }}, {{ end }}"{{ $v }}"{{ end }}],{{ end }}
			"url": "{{ .Site.BaseURL }}"
		}