{{- /*
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	BGN: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

	****************************
	** Syntax: JSON-LD        **
	** Vocab: schema.org      **
	**                        **
	** Schema: WebPage        **
	****************************

	Links:
		- https://www.w3.org/standards/semanticweb/
		- https://schema.org/WebPage

	About SemWeb:
	  - https://im.youronly.one/techmagus/

	How-To:
	  - https://github.com/

	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
	END: SEMANTIC WEB
	―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/}}
{{- $authors := .Site.Data.persons -}}
{{- $siteAuthor := index $authors ($.Param "semweb.person") }}
		{
			"@type": "WebPage",
			"@id": "{{ .Permalink }}#webpage",

			{{- /* Properties from WebPage */}}
			{{- /* {{ with $breadcrumb }}"breadcrumb": "{{ . }}",{{ end }} */}}
			"mainContentOfPage": "{{ .Permalink }}",
			{{ with and (eq .Kind "page") (.Params.images) }}"primaryImageOfPage": {
				"url": "{{ range first 1 .}}{{ . | absURL }}{{ end }}",
				"@type": "ImageObject"
			},{{ end }}
			{{- /* {{ with $relatedLink }}"relatedLink": "{{ . }}",{{ end }} */}}

			{{- /* Properties from CreativeWork */}}
			{{ with $.Param "author.person" }}{{ $author := index $authors . }}"author": [
				{
					"@id": "{{ ($.Param "author.id") | default $author.id }}"{{ with or ($.Param "author.name") ($.Param "author.url") }},{{ end }}
					{{ with ($.Param "author.name") }}"name": "{{ . }}",{{ end }}
					{{ with ($.Param "author.url") }}"url": "{{ . }}",{{ end }}
					{{ with or ($.Param "author.name") ($.Param "author.url") }}"@type": "Person"{{ end }}
				}
			],{{ else }}"author": [
				{
					"@id": "{{ $siteAuthor.id }}"
				}
			],{{ end }}
			{{ if eq .Kind "page" }}"hasPart": {
				"@id": "{{ .Permalink }}#article"
			},{{ end }}
			"headline": "{{ .LinkTitle }}",
			{{ if eq .Kind "page" }}"image": [ {{ range $i, $v := .Params.images }}{{ if $i }}, {{ end }}
				{ 
					"url": "{{ . }}",
					"@type": "ImageObject"
				}{{ end }}
			],{{ end }}
			"inLanguage": "{{ or (.Language.Params.languagecodehtml) (.Language.Lang) }}",
			"isPartOf": {
				"@id": "{{ .Site.BaseURL }}#website"
			},
			{{ if eq .Kind "page" }}"mainEntity": {
				"@id": "{{ .Permalink }}#article"
			},{{ end }}

			{{- /* Properties from Thing */}}
			{{ with or (.Description) (.Summary) (.Site.Params.description) }}"description": "{{ . | plainify }}",{{ end }}
			"name": "{{ .LinkTitle }}",
			"url": "{{ .Permalink }}"
		}