<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@graph": [
	  {{- if .Site.Params.semweb.org }}
	  {{- partial "schemas/schema_Organization.html" . | safeJS -}}
		{{ print ", " | safeJS -}}
		{{ end }}
		{{- partial "schemas/schema_WebSite.html" . | safeJS -}}
		{{ print ", " | safeJS }}
		{{- partial "schemas/schema_WebPage.html" . | safeJS -}}
	  {{- if .IsPage }}
		{{- print ", " | safeJS }}
		{{- partial "schemas/schema_Article.html" . | safeJS -}}
		{{ end }}
	  {{- if .Site.Params.semweb.persons }}
		{{- print ", " | safeJS }}
		{{- partial "schemas/schema_Person.html" . | safeJS }}
		{{ end }}
	]
}
</script>
