@charset "UTF-8";
/***
  * semweb-style.css Copyright © 2021–2022 YourOnly.One
  *
  * Licenses: [1] MIT/Expat License; [2] MPL v2.0; [3] LGPLv3
  *
  * LICENSE: MIT License / Expat License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
  *
  * LICENSE: Mozilla Public License Version 2.0 ("MPL 2.0")
  *   This Source Code Form is subject to the terms of the Mozilla Public
  *   License, v. 2.0. If a copy of the MPL was not distributed with this
  *   file, You can obtain one at http://mozilla.org/MPL/2.0/.
  *
  * LICENSE: GNU LESSER GENERAL PUBLIC LICENSE Version 3 ("LGPLv3")
  *   This program is free software: you can redistribute it and/or modify
  *   it under the terms of the Lesser GNU General Public License as published by
  *   the Free Software Foundation, either version 3 of the License, or
  *   (at your option) any later version.
  *
  *   This program is distributed in the hope that it will be useful,
  *   but WITHOUT ANY WARRANTY; without even the implied warranty of
  *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *   Lesser GNU General Public License for more details.
  *
  *   You should have received a copy of the Lesser GNU General Public License
  *   along with this program.  If not, see <http://www.gnu.org/licenses/>.
***/

/***
  * Other Attributions
  *
  * Embed Responsively: embedresponsively.com
***/

/************************
** BGN: COMMON CLASSES **
************************/
  /*** BGN: Alignments ***/
    html body .obj_center {
      margin-left: auto;
      margin-right: auto;
    }
    html body .obj_left {
      margin-right: auto;
    }
    html body .obj_right {
      margin-left: auto;
    }
    html body .obj_floatleft {
      float: left;
    }
    html body .obj_floatright {
      float: right;
    }
    .floatclear {
      clear: both;
    }
    html body .txt_center {
      text-align: center;
    }
    html body .txt_justify {
      text-align: justify;
    }
    html body .txt_left {
      text-align: left;
    }
    html body .txt_right {
      text-align: right;
    }
  /*** END: Alignments ***/

  /*** BGN: Positional ***/
    html body .display_table-cell {
      display: table-cell;
    }
  /*** END: Positional ***/
/************************
** END: COMMON CLASSES **
************************/

/*******************************
** BGN: embedresponsively.com **
*******************************/
  .responsive_embedframe {
    position: relative;
    padding-bottom: 56.25%; /* YouTube, Vimeo, Dailymotion, Google Maps, Generic */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .responsive_embedframe.instagram {
    padding-bottom: 120%; /* Instagram */
  }
  .responsive_embedframe.vine {
    padding-bottom: 100%; /* Vine */
  }
  .responsive_embedframe.gettyimages {
    padding-bottom: 79.96632996632997%; /* Getty Images */
  }
  .responsive_embedframe.generic2 {
    position: relative;
    padding-bottom: initial; /* Generic2 */
    /* height: 0; */
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .responsive_embedframe iframe,
  .responsive_embedframe ojbect,
  .responsive_embedframe embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/*******************************
** END: embedresponsively.com **
*******************************/

/******************************************************************************/
/******************************************************************************/

/*********************
** BGN: Attribution **
*********************/
  figure.figure_box {
    content-visibility: auto;
    contain-intrinsic-size: auto;
  }

  /* BGN: Remove browser and theme styles */
    .attribution_caption > p {
      margin: 0;
      padding: 0;
      text-align: unset;
    }
  /* END: Remove browser and theme styles */

  .attribution_caption {
    color: unset;
    line-height: normal;
    /* margin-bottom: 23px; */
  }
  .attribution_caption > p > small {
    font-size: 0.73em;
  }
/*********************
** END: Attribution **
*********************/
