{{- /* HOW TO USE
{{< image
  height=""
  width=""
  class=""
  style=""
  type=""

  isrepresentativeofpage=false

  src=""
  link=""
  linkrel="noopener"
  thumbnailurl=""

  title=""
  caption=""
  alt=""
  embeddedtextcaption=""
  inlanguage=""

  datecreated=""
  datepublished=""

  objheight=""
  objwidth=""

  infoalign=""

  licensecode=""
  licenseurl=""
  licensename=""

  acquirelicensepage=""
  copyrightnotice=""
  credittext=""

  attribto=""
  attriburl=""
  attribrel="noopener"

  cc0country=""
  cc0countrycode=""
  cc0countryurl=""

  contentloc=""
  contentlocurl=""
  contentlocrel="noopener external"
  contentreferencetime=""
>}}
*/ -}}
{{- $height := .Get "height" -}}
{{- $width := .Get "width" -}}
{{- $display := .Get "display" -}}
{{- $class := .Get "class" | default "obj_center" -}}
{{- $style := .Get "style" | safeCSS -}}
{{- $type := .Get "type" | default "image" -}}
{{- $src := .Get "src" -}}
{{- $imgsrc := "" -}}
{{- $avif := "" -}}
{{- $webp := "" -}}
{{- $apng := "" -}}
{{- $jpeg := "" -}}
{{- with $src -}}
  {{- $imgsrc = partial "getresource.html" . -}}
{{- end -}}
{{- $link := .Get "link" -}}
{{- $linkimage := "" -}}
{{- $linkimageremote := "" -}}
{{- $linkimagelocal := "" -}}
{{- with $link -}}
  {{- if (urls.Parse .).Scheme -}}
    {{/* remote */}}
    {{- $linkimageremote = . -}}
  {{- else -}}
    {{- $linkimagelocal = partial "getresource.html" . -}}
  {{- end -}}
  {{/* Pass correct image URL */}}
  {{- if $linkimageremote -}}
    {{- $linkimage = $linkimageremote -}}
  {{- else if $linkimagelocal -}}
    {{- $linkimage = $linkimagelocal.RelPermalink -}}
  {{- end -}}
{{- end -}}
{{- $linkrel := .Get "linkrel" -}}
{{- $title := .Get "title" -}}
{{- $caption := .Get "caption" -}}
{{- $alt := .Get "alt" -}}
{{- $datecreated := .Get "datecreated" -}}
{{- $infoalign := .Get "infoalign" | default "txt_center" -}}
{{- $licensecode := .Get "licensecode" | default "allrightsreserved" -}}
{{- $licenseurl := .Get "licenseurl" -}}
{{- $licensename := .Get "licensename" | default "All Rights Reserved" -}}
{{- $attribto := or (.Get "attr") (.Get "attribto") -}}
{{- $attriburl := or (.Get "attriburl") (.Get "attrlink") -}}
{{- $attribrel := .Get "attribrel" -}}
{{- $cc0country := .Get "cc0country" -}}
{{- $cc0countrycode := .Get "cc0countrycode" -}}
{{- $cc0countryurl := .Get "cc0countryurl" -}}
{{- $contentloc := .Get "contentloc" -}}
{{- $contentlocurl := .Get "contentlocurl" -}}
{{- $contentlocrel := .Get "contentlocrel" -}}
{{- $contentreferencetime := .Get "contentreferencetime" -}}
{{- $supportedformat := false -}}
{{- with $imgsrc -}}
  {{- if and (ne .MediaType.SubType "avif") (ne (path.Ext $src) ".awebp") (ne (path.Ext $src) ".apng") (ne .MediaType.SubType "svg") (ne .MediaType.SubType "gif") -}}
    {{- $supportedformat = true -}}
  {{- end -}}
{{- end -}}
{{- if eq $type "imagecoverattrib" -}}
  <div role="cover-image-attributions">
    <div class="header_attribution">
      <footer class="attribution_caption">
{{- else -}}
  <div{{ with $class }} class="{{ . }}"{{ end }}{{ with or $style $width $height }} style="{{ with $width }}width: {{ . }};{{ end }}{{ with $height }}height: {{ . }};{{ end }}{{ with $style }}{{ . }}{{ end }}"{{ end }}>
    {{- /* keep <figure> centered, if we want to change the image alignment itself, it should be done inside figure */ -}}
    <figure class="figure_box txt_center">
      <div>
        {{- with and (ne $type "imagecoverattrib") $imgsrc -}}
          {{ with $link }}<a href="{{ $linkimage }}" rel="{{ with $linkrel }}{{ . }}{{ end }}">{{ end }}
          <picture>{{/* TODO: make this simpler */}}
            {{- if eq $supportedformat true -}}
              {{- $webp = (.Resize (printf "%dx%d webp" .Width .Height)).RelPermalink -}}
              {{- $apng = (.Resize (printf "%dx%d png" .Width .Height)).RelPermalink -}}
              <source srcset="{{ $webp }}" type="image/webp" />
              <img src="{{ if eq (path.Ext $src) ".webp" }}{{ $apng }}{{ else }}{{ $imgsrc.RelPermalink }}{{ end }}"{{ with or $alt $caption $title }} alt="{{ . | plainify }}"{{ end }} style="width: 100%;" loading="lazy" decoding="async" />
            {{- else -}}
              <img src="{{ $linkimage }}"{{ with or $alt $caption $title }} alt="{{ . | plainify }}"{{ end }} style="width: 100%;" loading="lazy" decoding="async" />
            {{- end -}}
          </picture>
          {{ with $link }}</a>{{ end }}
        {{- end -}}
      </div>
      <figcaption class="attribution_caption {{ with $infoalign }}{{ . }}{{ end }}">
        {{ with $title }}<p><cite><b>{{ . | markdownify }}</b></cite></p>{{ end }}
        {{ with $caption }}<p><i>{{ . | markdownify }}</i></p>{{ end }}
{{- end -}}
        <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
          {{- if eq $licensecode "allrightsreserved" -}}
            {{/* ALL RIGHTS RESERVED */}}
            <small>{{ if eq $type "imagecoverattrib" }}{{ i18n "word_coverimage" }} {{ i18n "attribution_allrightsreservedcover" }}{{ else }}{{ i18n "attribution_allrightsreserved" }}{{ end }}{{ with $attribto }} {{ i18n "word_to" }} {{ with $attriburl }}<a href="{{ . }}" rel="dct:creator {{ with $attribrel }}{{ . }}{{ end }}">{{ end }}{{ . | markdownify }}{{ end }}{{ with $attriburl }}</a>{{ end }}{{ i18n "punctuation_fullstop" }}</small>
          {{- else if eq $licensecode "cc0" -}}
            {{/* CC0 DEDICATION */}}
            <small>{{ if eq $type "imagecoverattrib" }}{{ i18n "word_coverimage" }} {{ end }}{{ i18n "attribution_cc0_extent" }}{{ i18n "punctuation_pause" }} <a href="{{ $attriburl }}" rel="dct:publisher {{ with $attribrel }}{{ . }}{{ end }}">{{ $attribto }}</a> {{ i18n "word_has" }} <a href="https://creativecommons.org/publicdomain/zero/1.0/" rel="license noopener external">{{ i18n "attribution_cc0_waived" }}</a> {{ i18n "word_to" }} <cite>{{ with $link }}<a href="{{ $linkimage }}" rel="dct:title {{ with $linkrel }}{{ . }}{{ end }}">{{ end }}{{ with or $title $alt $caption }}{{ . | markdownify }}{{ end }}{{ with $link }}</a>{{ end }}</cite>{{ i18n "punctuation_fullstop" }} {{ i18n "attribution_cc0_publishedfrom" }} <span property="vcard:Country" datatype="dct:ISO3166" content="{{ $cc0countrycode }}" about="{{ $cc0countryurl }}"><a href="{{ $cc0countryurl }}" rel="noopener external">{{ $cc0country }}</a></span>{{ i18n "punctuation_fullstop" }}</small>
          {{- else -}}
            <small>
              {{ if eq $type "imagecoverattrib" }}{{ i18n "word_coverimage" }} {{ end }}<cite>{{ with $link }}<a href="{{ $linkimage }}" rel="dct:title {{ with $linkrel }}{{ . }}{{ end }}">{{ end }}{{ with or $title $alt $caption }}{{ . | markdownify }}{{ end }}{{ with $link }}</a>{{ end }}</cite>{{ with $attribto }} {{ i18n "attribution_by" }} {{ with $attriburl }}<a href="{{ . }}" rel="dct:creator {{ with $attribrel }}{{ . }}{{ end }}">{{ end }}{{ $attribto | markdownify }}{{ with $attriburl }}</a>{{ end }} {{ i18n "word_is" }}
                {{- if ne $licensecode "publicdomain" -}}
                  {{/* ANY LICENSE */}}
                  {{ i18n "attribution_licensedunder" }} <a href="{{ $licenseurl }}" rel="license noopener external">{{ with $licensename }}{{ . }}{{ end }}</a>{{ i18n "punctuation_fullstop" }}
                {{- else -}}
                  {{/* PUBLIC DOMAIN */}}
                  <a href="https://creativecommons.org/publicdomain/mark/1.0/" rel="license noopener external">{{ i18n "attribution_publicdomain" }}</a>{{ i18n "punctuation_fullstop" }}
                {{- end -}}
              {{- end -}}
              {{- with or $contentloc $datecreated $contentreferencetime -}}<br/>
                {{- with $contentloc -}}
                  {{ i18n "word_location" }}{{ i18n "punctuation_colon" }} {{ with $contentlocurl }}<a href="{{ . }}" rel="{{ with $contentlocrel }}{{ . }}{{ end }}">{{ end }}{{ . }}{{ with $contentlocurl }}</a>{{ end }}
                  {{ with or $datecreated $contentreferencetime }} | {{ end }}
                {{- end -}}
                {{- with $datecreated -}}
                  {{ i18n "word_date" }}{{ i18n "punctuation_colon" }} {{ . }}
                  {{ with and (ne $datecreated $contentreferencetime) ($contentreferencetime) }} | {{ end }}
                {{- end -}}
                {{- with and (ne $datecreated $contentreferencetime) ($contentreferencetime) -}}
                  {{ i18n "word_time" }}{{ i18n "punctuation_colon" }} {{ . }}
                {{- end -}}
              {{- end -}}
            </small>
          {{- end -}}
        </p>
{{- if eq $type "imagecoverattrib" -}}
      </footer>
    </div>
{{- else -}}
      </figcaption>
    </figure>
{{- end -}}
  </div>
{{- if and (templates.Exists "partials/schemas/schema_ImageObject.html") (ne $type "imagecoverattrib") -}}{{ partial "schemas/schema_ImageObject.html" . }}{{- end -}}
